.navbar-toggle.pull-left {
    margin-left: 15px;
}
@media (min-width: 768px) {
    .pull-sm-left {
        float: left !important;
    }
}

/*table*/
table{
    width:100%;
    /*    margin-bottom: .5rem;*/
    margin-top: 50px;
}
#example_filter{
    float:right;
}
#example_paginate{
    float:right;
}
label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*img{*/
/*width: 40px;*/
/*height: 40px;*/
/*}*/
/*input*/
.buttonInside{
    position:relative;
    margin-bottom:10px;
}
#container{
    width: 300px;
}
input{
    height:25px;
    width:100%;
    padding-left:10px;
    border-radius: 4px;
    border:none;outline:none;
}
button{
    position:absolute;
    right: 0px;
    top: 4px;
    border:none;
    height:20px;
    width:20px;
    border-radius:100%;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding:2px;
}
button:hover{
    cursor:pointer;
}
#help{
    display:none;
    font-style:italic;
    font-size:0.8em;
}